.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1d1e1f;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  overflow: hidden;
}
.card .dent {
  position: absolute;
  color: white;
  background-color: white;
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 270px;
  border-top-left-radius: 100em;
  top: 550px;
  rotate: 90deg;
  font-size: 6rem;
  transform: scaleY(2);
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: block;
}
.written-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%;
  height: 100%; */
  display: block;
  padding: 10px 25px 35px 18px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 680px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Code here */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Code here */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1125px) {
  .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1d1e1f;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    overflow: hidden;
  }
  .character{
    
  }
  .images {
    width: 100%;
    /* height: 50%; */
    /* display: block;
    float: left; */
  }
  .written-info {
    width: 100%;
    height: 100%;
    display: inline;
    padding: 10px 25px 35px 18px;
  }
}
