.character {
  display: flex;
  flex-wrap: wrap;
}

.image-card {

  color: white;
  width: auto;
  height: 20em;
  background-color: #1d1e1f;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin: 13px 3px 5px 3px;
  overflow: hidden;
}
