.sw-divider {
  display: flex;
  margin-top: 5px;
}
.dividing-line-short{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    margin: 1px;
    margin-left: 8px;
    margin-top: 5px;
    width: 2%;
    border-radius: 30px;
  }
.dividing-line-long {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid gray;
  margin: 1px;
  margin-left: 5px;
  margin-top: 5px;
  width: 15%;
  border-radius: 30px;
}
/* .space {
  position: absolute;
  justify-content: center;
  border: 1px solid #1d1e1f;
  margin-left: 5px;
  width: 2%;
  height: 5px;
  border-radius: -50px;
  background-color:#1d1e1f ;
} */
.dividing-line-long:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px 2px rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 1);
}
.dividing-line-short:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px 2px rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 1);
  }
