.character-card {
  width: 300px;
  display: flex;
  margin: 0.5rem;
  cursor: pointer;
}

.character-img {
  object-fit: cover;
  flex-basis: 40%;
  border-radius: 1rem;
}

.character-img img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
}

.character-name {
  color: #ccc;
  background-color: #1d1e1f;
  flex-basis: 60%;
  padding: 0.7rem;
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  position: relative;
}

.trapezium {
  border-bottom: 15px solid black;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  width: 90px;
  position: absolute;
  top: 115px;
  right: 30px;
}
.card-hover-indicator {
  display: none;
}

/* Bootstrap breakpoints */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* here your code */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .character-card {
    flex-direction: column;
    width: 170px;
    height: 280px;
  }
  .character-img {
    flex-basis: 60%;
  }
  .character-img img {
    border-top-right-radius: 0.3rem;
    border-bottom-left-radius: 0;
  }

  .character-name {
    height: 105px;
    flex-basis: 40%;
    border-bottom-left-radius: 0.3rem;
    border-top-right-radius: 0;
  }

  .trapezium {
    position: absolute;
    top: 95px;
    right: 40px;
  }

  .card-hover-indicator {
    display: flex;
    padding: 0.3rem 0;
    transition: all 0.2s ease-in-out;
  }

  .card-hover-indicator .long {
    width: 25px;
    border: 2px solid #5a5c5d;
    border-radius: 0.2rem;
  }

  .card-hover-indicator .short {
    border: 2px solid #5a5c5d;
    border-radius: 50%;
    margin-left: 0.2rem;
  }

  .character-card:hover .long {
    border: 2px solid white;
    box-shadow: 0 0 50px #fff, inset 0 0 50px #fff;
  }

  .character-card:hover .short {
    border: 2px solid white;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* here your code */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .character-card {
    min-width: 260px;
    min-height: 430px;
    margin-bottom: 1.5rem;
  }

  .trapezium {
    position: absolute;
    top: 155px;
    right: 70px;
    width: 120px;
  }
  .character-name h5 {
    font-size: 1.3rem;
    margin-top: 0.5rem;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .character-card {
    width: 320px;
  }
}
