/* CARD PEQUEÑA */

#contenedor-card-pequeña {
  /* width: 100%; */
  display: flex;
  margin-bottom: 1.5em;
  border-radius: 1rem;
}

.contenedor-subtitulo-card-pequeña {
  background-color: rgb(22, 22, 22);
  padding: 1em;
  position: relative;
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  width: 80%;
}

.titulo-card-pequeña {
  /* white-space: normal; */
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.imagen-contenedor-pequeño {
  width: 50%;
}
.imagen-peque {
  width: 100%;
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
}

.muesca-pequeña {
  right: 52px;
  position: absolute;
  width: 160px;
  bottom: 0;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid black;
}

/* RESPONSIVE */

@media (min-width: 768px) {
  .muesca-pequeña {
    width: 115px;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid black;
  }
  .logo-linea {
    border-top: 5px solid rgb(68, 67, 67);
    border-radius: 5em;
    margin-bottom: 1em;
    width: 30px;
    margin-right: 0.3em;
  }
  .logo-circulo {
    border-radius: 50%;
    margin-bottom: 1em;
    width: 5px;
    height: 5px;
    background-color: rgb(68, 67, 67);
  }
  .contenedor-logo {
    display: flex;
  }
}
