.footer-terms {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1px 2px 20px;
  margin: 10px;
  height: 100px;
  font-size: 0.9rem;
  color: #fff;
}
.footer-terms a {
  /* width: 100%;
  min-width: 140px; */
  padding: 10px;
  color: #fff;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;

}
.dividing-line {
  border-left: 1px solid gray;
  height: 20px;
}
