.head {
  background-color: #0a0b0b;
  color: white;
  padding: 30px;
  align-items: center;
  text-align: center;
}

.appearances {
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  display: block;
  margin-left: 30px;
  margin-top: 50px;
}
.appearances .title {
  font-weight: 300;
}

.link {
  margin-top: 16px;
}
.link a {
  color: white;
  text-decoration: line;
  font-weight: 100;
}
.dividing-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.1px solid gray;
  margin: 25px;
  /* margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 20px; */
}
.related {
  color: white;
  margin: 20px;
}
.related h3 {
  font-weight: 400;
}
