.streamShort,
.streamLong {
  background-color: #0A0B0B;
  text-align: center;
  padding: 1.5em 0;
  font-weight: bold;
}
.streamShort a,
.streamLong a {
  color: white;
  text-decoration: none;
}
.streamLong {
  display: none;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .streamLong {
    display: block;
  }
  .streamShort {
    display: none;
  }
}
