.descContainer {
  width: 100%;
  padding: 21px;
  margin-top: 100px;
}
.descriptionFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 1em; */
}
.imgPosterContainer {
  width: 35%;
}
.imgPoster {
  width: 100%;
  object-fit: cover;
}
.infoContainer {
  width: 60%;
}
.movieTitle {
  font-size: 33px;
  line-height: 36px;
  color: white;
  margin-bottom: 8px;
}
.ratingGenre p {
  padding-bottom: 4px;
  font-size: 14px;
}
.ratingGenre {
  line-height: 1.5em;
}

.descriptionContainer {
  font-size: 1.2rem;
  display: block;
}
.rating {
  display: inline-block;
  font-size: 2rem;
  margin: 1.5rem 0;
  padding: 0.5rem;
  border: 1px solid white;
  color: white;
}
.anchorContainer {
  display: flex;
  gap: 1.5em;
  font-weight: bold;
}
.anchorContainer a {
  text-decoration: none;
  color: grey;
  text-transform: uppercase;
}
.anchorContainer a:hover {
  color: white;
  text-decoration: underline;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .descriptionFlex {
    margin-top: 150px;
  }
  .descriptionFlex {
    padding: 1em 4em;
    gap: 2em;
  }
  .movieTitle {
    font-size: 3em;
    line-height: 1.2em;
    margin-bottom: 0.5em;
  }
  .descriptionContainer {
    margin-top: 1em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .descriptionFlex {
    padding: 4em 6em;
    margin-top: 0;
    justify-content: space-between;
  }
  .movieTitle {
    font-size: 4em;
    line-height: 1.2em;
    margin-bottom: 0.5em;
  }
  .imgPosterContainer {
    width: 45%;
  }
  .infoContainer {
    width: 50%;
  }
  .descriptionContainer {
    margin-top: 1em;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .descriptionFlex {
    padding: 4em 6em;
    margin-top: 0;
    justify-content: space-between;
  }
  .movieTitle {
    font-size: 4em;
    line-height: 1.2em;
    margin-bottom: 0.5em;
  }
  .imgPosterContainer {
    width: 45%;
  }
  .infoContainer {
    width: 50%;
  }
  .descriptionFlexContainer {
    margin-top: 1em;
  }
}
