.title {
  text-align: center;
  font-size: 3rem;
  border: 2px solid white;
  /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
    0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073; */
}
.logo {
  display: flex;
  justify-content: center;
}
.codeLogo {
  width: 40%;
  object-fit: cover;
  display: flex;
}
